/***************
GLOBAL STYLES
***************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: $sans-serif;
	line-height: 1.75;
	font-size: 120%; // 18px base font size
	color: $black;
	overflow-x: hidden;
  margin: 0;

	p , ul {
		margin: 0 0 2rem;
		color: #515e65;
		font-weight: 300;
	}
}

// Text Selection Styling
::-moz-selection {
	background: $primary-color;
	color: white;
}

::selection {
	background: $primary-color;
	color: white;
}

// Media Styling
img,video,audio,iframe,object{
	max-width:100%;
}

// Layout
.container {
  max-width: 900px;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


/***************
LINK STYLING
***************/

a {
	color: $link-color;

	&:hover {
		color: darken($link-color, 15%);
	}
}


/***************
MENU STYLING
***************/

.nav-collapse {
	z-index: 1;

	ul {
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  display: block;
	  list-style: none;

		li {
		  width: 100%;
		  display: block;
		  background: $background-color;
		  border-bottom: 2px solid lighten($background-color, 5%);

		  a {
		  	color: white;
		  	text-decoration: none;
		  	display: block;
		  	padding: 5px 2rem;
		  }
		}
	}
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  clear: both;
  width: 100%;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  line-height: 2em;
  margin-top: .5em;
  background-color: $background-color;
  border-radius: 4px;
  padding: 0 .5em;
  color: white;
  text-decoration: none;
  position: relative;
  right: 2rem;
  transition: all 0.2s ease-in-out;

  &:hover {
  	color: white;
  	background-color: darken($background-color, 10%);
  }
}


/***************
LIST STYLING
***************/

.noList {
	list-style:none;
	padding-left:0;
	margin-left:0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1.5rem;
}

.post ul ul,
.post ul ol,
.post ol ul,
.post ol ol {
	margin: 0;
	font-weight: 300;
	color: #515e65;
}


/***************
PAGE STYLES
***************/

.pageTitle {
	margin: 2rem auto 0 auto;
	text-align: center;
}
.pageTitle-helper{
	text-align: center;
	color: $grey;
	font-size: 28px;
	font-family: $sans-serif;
	line-height: 1.5;
}
.extra-space-bottom{
	margin-bottom: 60px;
}

.content {
	padding-top: 1em;
}


/***************
HEADER STYLING
***************/

.header {
	background-color: $background-color;
	background-image: url('../img/touring.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: white;
	padding: 0;
	height: 3em;

	.container {
		padding: 0 1.4rem;
		max-width: 900px;
	}

	h1 {
		margin: 0;
		float: left;
		padding-left: 0;
		font-size: 1em;
		line-height: 1.5em;
		font-family: $sans-serif;
		font-weight: 800;
		text-transform: none;

		a {
			color: white;
			text-decoration: none;
		}
	}
}


/***************
POST STYLING
***************/

.post {

	.postTitle {
		text-align: left;
		margin: 0rem auto 0;
	}

	.postTitle-subTitle{
		font-size: 1.2em;
		color:$black;
		font-style: italic;
		// &:after {
		// 	content: "";
		// 	position: absolute;
		// 	bottom: -1.25em;
		// 	background: rgba(0,0,0,.6);
		// 	display: block;
		// 	height: 2px;
		// 	width: 100%;
		// }
	}

	blockquote {
		clear: both;
		margin: 4em 0;
		padding: 0;
		line-height: 1.8;
		position: relative;
		color: $black;
		font-weight: 300;
		font-size: 24px;
		text-align: center;

		&:before {
			content: "";
			position: absolute;
			top: -1.25em;
			background: rgba(0,0,0,.6);
			display: block;
			height: 2px;
			width: 150px;
			left: calc(50% - 75px);
		}

		&:after {
			content: "";
			position: absolute;
			bottom: -1.25em;
			background: rgba(0,0,0,.6);
			display: block;
			height: 2px;
			width: 150px;
			left: calc(50% - 75px);
		}
	}

	.meta {
		color: lighten(black, 60%);
		font-family: $sans-serif;
		font-weight: 100;
		margin-bottom: 10px;
		margin-top: 5rem;
	}

	figure {
		margin: 3rem 0;

		figcaption {
			text-align: center;
			font-size: .9em;
			font-style: italic;
			color: lighten($black, 30%);
		}

		img {
			margin: 0 auto;
			display: block;
		}
	}

	img {
		margin-bottom: 2rem;
	}

	.highlight {
		clear: both;
		margin-bottom: 2rem;
	}

	.dropcap {
		color: $primary-color;
		margin-right: .45rem;
	}

	.featuredImage {
		position: relative;
		margin-top: 2rem;

		img {
			margin-bottom: 0;
		}
	}
}


/***************
POST NAV STYLING
***************/

.postNav {
	border-top: 1px solid darken(white, 10%);
	border-bottom: 1px solid darken(white, 10%);
	overflow: hidden;

	.prev, .next {
		display: block;
		width: 100%;
		height: 5rem;
		overflow: hidden;
		position: relative;
		font-family: $sans-serif;
		font-weight: 800;
		font-size: .9em;
		text-transform: uppercase;
		text-align: center;

		img {
			z-index: 1;
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 100%;
			height: auto;
		}

		span {
			z-index: 10;
			position: relative;
			padding: .5rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			line-height: 1.4;
		}

		&.image {
			text-decoration: none;
			color: white;
			text-shadow: 1px 1px 3px rgba(0,0,0,.8);
			padding: 0 .5rem;
			position: relative;
			transition: all 0.2s ease-in-out;
		}

		&:hover {
			&.image {
				opacity: .8;
			}
		}
	}

	.prev {
		span {
			left: 0;
		}
	}

	.next {
		span {
			right: 0;
		}
	}
}


/***************
FOOTER STYLING
***************/

.footer {
	text-align: center;
	padding: 2rem 0;
	clear: both;

	.container {
		border-top: 1px solid darken(white, 15%);
		padding-top: .5em;
    max-width: 90%;
	}

	.copy, .footer-links {
		font-size: .8em;
	}

	.copy {
		margin-bottom: 1rem;
	}

	&-links {
		ul {
			text-align: center;

			li {
				display: inline-block;

				a {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 2.125rem;
					height: 2.125rem;
					border-radius: 50%;
					background: transparent;
					color: rgba(0, 0, 0, 0.9);
					text-decoration: none;
					transition: all 0.2s ease-in-out;

					i {
						font-size: 1.1rem;
						line-height: 1;
						display: block;
					}
				}


				&:hover {
					a {
						background: transparent;
						text-decoration: none;
					}
				}
			}
		}
	}
}


/***************
PAGINATION STYLING
***************/

.pagination {
	.next {
		float: left;
	}

	.previous {
		float: right;
	}
}


/***************
POST LIST STYLING
***************/

.posts {
	margin-bottom: 30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.02), 0 1px 2px rgba(0,0,0,0.14);
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.02), 0 1px 2px rgba(0,0,0,0.14);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.02), 0 1px 2px rgba(0,0,0,0.14);
	float: left;

	&:hover{
		-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.12);
		-moz-box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.12);
		box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.12);
	}

	.post-feature-image{
		-webkit-border-radius: 10px 10px 0 0px;
		-moz-border-radius: 10px 10px 0 0px;
		border-radius: 10px 10px 0 0px;
		width: 100%;
		height: 250px;
		background-repeat: no-repeat;
		overflow: hidden;
		background-color: #f2f2f2;
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	
	li {
		margin: 1.4rem 1.4rem 1.4rem 1.4rem;
		position: relative;
		float: left;
		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	bottom: -2rem;
		// 	left: 0;
		// 	background: darken(white, 10%);
		// 	height: 2px;
		// 	width: 60px;
		// }
		p{
			margin-bottom: 0;
			font-size: 0.8em;
			font-weight: 300;
		}
		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.date {
			color: lighten(black, 50%);
			font-family: $sans-serif;
			font-weight: 300;
			font-size: .8em;
		}

		h3 {
			margin: 0 0 0.3em;
		}
	}
}

.theme-toggle-item {
	border-bottom: 0 !important;
	display: flex !important;
	justify-content: flex-end;
	padding: .45rem 1rem !important;
}

.theme-toggle {
	width: 2.15rem;
	height: 2.15rem;
	margin: 0;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	border: 1px solid rgba(255,255,255,.35);
	background: rgba(255,255,255,.12);
	color: white;
	line-height: 1;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, transform 0.2s ease-in-out;

	&:hover {
		background: rgba(255,255,255,.2);
		border-color: rgba(255,255,255,.5);
		transform: translateY(-1px);
	}
}

.theme-toggle__icon {
	font-size: 1.1rem;
	line-height: 1;
	margin-right: 0;
}

html.theme-dark {
	color-scheme: dark;

	body {
		background: #000;
		color: rgba(255, 255, 255, 0.87);
	}

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6,
	.pageTitle {
		color: #fff;
	}

	.header h1,
	.header h1 a {
		font-family: $sans-serif;
		color: #fff;
	}

	body p,
	body ul,
	.post ul ul,
	.post ul ol,
	.post ol ul,
	.post ol ol,
	ul.list-of-items li,
	ol.list-of-items li {
		color: rgba(255, 255, 255, 0.7);
	}

	a {
		color: #a8c7fa;

		&:hover {
			color: #d2e3fc;
		}
	}

	.header {
		background-color: #000;
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/touring.jpg');
	}

	.nav-collapse ul li {
		background: #121212;
		border-bottom: 2px solid rgba(255, 255, 255, 0.12);
	}

	.nav-toggle {
		background-color: #121212;
	}

	.posts {
		background: #1a1a1a;
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), 0 8px 20px rgba(255, 255, 255, 0.04), 0 2px 6px rgba(0, 0, 0, 0.6);
		transition: transform 180ms ease, box-shadow 220ms ease;

		&:hover {
			transform: translateY(-4px);
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.12), 0 14px 30px rgba(255, 255, 255, 0.08), 0 6px 16px rgba(0, 0, 0, 0.75);
		}

		.post-feature-image {
			background-color: #2a2a2a;
		}

		li h3 a,
		li h3 a:hover {
			color: #fff;
		}
	}

	.post .postTitle-subTitle,
	.post blockquote {
		color: rgba(255, 255, 255, 0.87);
	}

	.post .meta,
	.posts li .date,
	.pageTitle-helper {
		color: rgba(255, 255, 255, 0.6);
	}

	.postNav {
		border-top-color: rgba(255, 255, 255, 0.12);
		border-bottom-color: rgba(255, 255, 255, 0.12);
	}

	.footer .container {
		border-top-color: rgba(255, 255, 255, 0.12);
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="phone"],
	textarea {
		background: #171717;
		color: rgba(255, 255, 255, 0.87);
		border: 1px solid rgba(255, 255, 255, 0.18);
	}

	table {
		border-color: rgba(255, 255, 255, 0.18);
	}

	th,
	td,
	tr {
		border-color: rgba(255, 255, 255, 0.18);
	}

	th,
	tr:nth-child(even) {
		background-color: #1f1f1f;
	}

	.highlight {
		background: #141414;
	}

	.footer-links ul li a {
		background: transparent;
		color: rgba(255, 255, 255, 0.87);
	}

	.footer-links ul li:hover a {
		background: transparent;
	}
}

/* Shadcn-style top navigation */
.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .75rem;
	height: 100%;
}

.header .logo {
	line-height: 1;
	flex: 0 0 auto;
}

.header .logo a {
	display: inline-flex;
	align-items: center;
	height: auto;
	line-height: 1.2;
}

.top-nav {
	margin-left: auto;
}

.top-nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: .35rem;
}

.top-nav__item {
	display: flex;
	align-items: center;
}

.top-nav__link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 2.45rem;
	padding: .2rem 1rem;
	border-radius: .5rem;
	font-family: $sans-serif;
	font-size: .82rem;
	font-weight: 520;
	letter-spacing: .01em;
	color: white;
	text-decoration: none;
	transition: background-color .18s ease, color .18s ease;

	&:hover {
		background: rgba(255,255,255,.14);
		color: white;
	}
}

.top-nav__link.is-current {
	background: rgba(255,255,255,.2);
	padding: .2rem 1rem;
}

.theme-toggle-item {
	padding: 0 !important;
	margin-left: .15rem;
}

html.theme-dark {
	.top-nav__link {
		color: rgba(255,255,255,.92);
	}

	.top-nav__link:hover {
		background: rgba(255,255,255,.12);
		color: #fff;
	}

	.top-nav__link.is-current {
		background: rgba(255,255,255,.16);
	}
}

/* Header/nav layout v2: logo on first row, links left + toggle right on second row */
.header .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	height: 100%;
}

.header .logo {
	display: block;
	float: none;
	text-align: left;
	margin: 0;
	padding: 0;
	line-height: 1;
}

.top-nav {
	margin-left: 0;
	margin-top: -0.2rem;
}

.top-nav__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .6rem;
}

.top-nav__list {
	flex: 1;
	justify-content: flex-start;
}

.theme-toggle-container {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.theme-toggle-item {
	margin-left: 0;
}
