<figure class="retailer-journey-map">
  <div class="retailer-journey-map__scroller" tabindex="0" aria-label="Retailer journey map table">
    <table class="retailer-journey-map__table">
      <caption>Retailer journey map across planning, ordering, delivery, and reconciliation</caption>
      <thead>
        <tr>
          <th scope="col">Phases</th>
          <th scope="col">Planning</th>
          <th scope="col">Ordering</th>
          <th scope="col">Delivery</th>
          <th scope="col">Reconciliation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Customer thinks</th>
          <td>
            <ul>
              <li>What should I order next time?</li>
              <li>What am I lacking in store?</li>
              <li>What is the demand?</li>
              <li>Should I call the executive?</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>When is the delivery executive visiting?</li>
              <li>Can I trust the delivery executive?</li>
              <li>Did I receive my earlier refund?</li>
              <li>I need to complain about damaged products</li>
              <li>Can I buy on credit today?</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>When is the delivery going to happen?</li>
              <li>I hope the items are delivered on time</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Reconciliation will take a lot of time</li>
              <li>I will lose out on business</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Customer needs</th>
          <td>
            <ul>
              <li>Know about things that are out of stock</li>
              <li>Identify how much to order</li>
              <li>Identify best offers currently running</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Credit as a payment method</li>
              <li>Increase credit limit if used up while ordering</li>
              <li>The stock should be available</li>
              <li>What is the total ordered</li>
              <li>Correct stock is ordered</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Open delivery of items is preferred</li>
              <li>Damaged items should be taken back</li>
              <li>Timely delivery</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Instant unblocking of credit after payment</li>
              <li>Short time of reconciliation</li>
              <li>Large order invoice is impossible to reconcile with confidence</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Customer pain points</th>
          <td>
            <ul>
              <li>Remember what to order</li>
              <li>Handle customers while talking with distributors</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Credit is blocked and need to order more</li>
              <li>No way to increase credit limit</li>
              <li>PSR pushes for things that retailers do not require</li>
              <li>Handle customers</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Wrong items are delivered</li>
              <li>Free items are missing</li>
              <li>Handle customers too</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Takes a long time to reconcile at outlet</li>
              <li>Blocked to order again on credit</li>
              <li>Handle customers too</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Customer sentiments</th>
          <td>
            <ul>
              <li>Confused</li>
              <li>Not confident</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Disappointed</li>
              <li>Angry</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Unhappy</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Disappointed</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Opportunity</th>
          <td>
            <p>Build intelligence into the system so that PSR knows what to pitch</p>
          </td>
          <td>
            <p>Allow credit limit to be unblocked as soon as payment is made</p>
          </td>
          <td>
            <ul>
              <li>Provide open delivery</li>
              <li>Take damaged products back</li>
              <li>Ensure right products are delivered</li>
            </ul>
          </td>
          <td>
            <p>Build a system to unblock customer as soon as they pay</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</figure>
