@use "sass:math";
@use "sass:color";
@use "config" as *;
@use "partials/mixins";
@use "partials/simple-grid";
@use "partials/typography";
@use "modules/buttons";
@use "modules/forms";
@use "modules/tables";
@use "normalize";
@use "breakpoints/mobileup";
@use "breakpoints/800up" as *;  // or @use "breakpoints/800up" as breakpoints800;

// Then, any @import statements for external resources
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i);

// Your custom styles can go here