/***************
TABLE STYLES
***************/

@use "sass:color";
@use "../config" as *;

table {
	width: 100%;
	border: 1px solid color.scale($grey, $lightness: 15%);
	margin-bottom: 1.5em;

	caption {
		margin: 0 0 7px;
		font-size: 0.75em;
		color: $grey;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

tr {
	border-bottom: 1px solid color.scale($grey, $lightness: 15%);

	&:nth-child(even) {
		background-color: color.scale($grey, $lightness: 30%);
	}
}

td {
	padding: 7px;
	border-right: 1px solid color.scale($grey, $lightness: 15%);

	&:last-child {
		border-right: 0;
	}
}

th {
	background-color: color.scale($grey, $lightness: 30%);
	border-bottom: 1px solid color.scale($grey, $lightness: 15%);
	border-right: 1px solid color.scale($grey, $lightness: 15%);

	&:last-child {
		border-right: 0;
	}
}