---
layout: default
---
<div class="post">
  {% if page.image %}
    <div class="featuredImage">
      <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.image }}" alt="" />
    </div>
  {% endif %}
  <section class="section-bottom-margin">
    <p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>
    <h1 class="postTitle">{{ page.title }}</h1>
    <p class="postTitle-subTitle">{{page.subtitle}}</p>
  </section>
    {{ content }}
  <!-- POST NAVIGATION -->
  <div class="postNav clearfix">
    {% assign work_previous = page.next %}
    {% assign work_next = page.previous %}
    {% if work_previous.url %} 
      <a class="prev{% if work_previous.image %} image{% endif %}" href="{{ work_previous.url | prepend: site.baseurl }}"><span>&laquo;&nbsp;{{ work_previous.title }}</span>
      {% if work_previous.image %} 
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: work_previous.image }}" alt="">
      {% endif %}
    </a>
    {% endif %}  
    {% if work_next.url %}  
      <a class="next{% if work_next.image %} image{% endif %}" href="{{ work_next.url | prepend: site.baseurl }}"><span>{{ work_next.title }}&nbsp;&raquo;</span>
      {% if work_next.image %} 
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: work_next.image }}" alt="">
      {% endif %} 
      </a>
    {% endif %} 
  </div>
</div>
