body {
  background: var(--body-bg);
  color: var(--body-color);
}

html.theme-dark body {
  background: var(--body-bg);
  color: var(--body-color);
}

::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}

body p,
body ul,
.post p,
.post ul,
.post ol,
.post dl,
.post ul ul,
.post ul ol,
.post ol ul,
.post ol ol,
ul.list-of-items li,
ol.list-of-items li,
.posts .post-card-content p {
  color: var(--fg-2);
}

.post .meta,
.posts .date,
.posts .post-card-company,
.pageTitle-helper,
.post-header > p:last-child,
.case-study-sidebar__back,
.case-study-section-nav__link {
  color: var(--fg-3);
}

a,
a:hover,
.posts .post-card-link,
.posts .post-card-link:hover,
.posts .post-card-link:focus,
.posts .post-card-link:active,
.posts .post-card-content,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.pageTitle,
.header h1,
.header h1 a,
.posts .post-card-link h3,
.posts .post-card-link:hover h3 {
  color: var(--fg-1);
}

.header h1,
.header h1 a {
  font-family: var(--font-family-ui);
  color: #fff;
}

.posts {
  --post-card-shadow-stroke: rgba(46, 15, 15, 0.04);
  --post-card-shadow-high: rgba(46, 15, 15, 0.0405);
  --post-card-shadow-medium: rgba(46, 15, 15, 0.0525);

  background: var(--card-bg);
  box-shadow: 0 0 0 1px var(--post-card-shadow-stroke), 0 2.5px 7.5px var(--post-card-shadow-high), 0 1.5px 3px var(--post-card-shadow-medium);
  -webkit-box-shadow: 0 0 0 1px var(--post-card-shadow-stroke), 0 2.5px 7.5px var(--post-card-shadow-high), 0 1.5px 3px var(--post-card-shadow-medium);
  -moz-box-shadow: 0 0 0 1px var(--post-card-shadow-stroke), 0 2.5px 7.5px var(--post-card-shadow-high), 0 1.5px 3px var(--post-card-shadow-medium);
  transform: none;
  transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

html.theme-dark .posts {
  --post-card-shadow-stroke: rgba(0, 0, 0, 0.24);
  --post-card-shadow-high: rgba(0, 0, 0, 0.2575);
  --post-card-shadow-medium: rgba(0, 0, 0, 0.315);

  transform: none;
  transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.posts:hover {
  transform: none;
  box-shadow: 0 0 0 1px var(--shadow-stroke-1), 0 4px 12px var(--shadow-high), 0 2px 4px var(--shadow-medium);
  -webkit-box-shadow: 0 0 0 1px var(--shadow-stroke-1), 0 4px 12px var(--shadow-high), 0 2px 4px var(--shadow-medium);
  -moz-box-shadow: 0 0 0 1px var(--shadow-stroke-1), 0 4px 12px var(--shadow-high), 0 2px 4px var(--shadow-medium);
}

html.theme-dark .posts:hover {
  transform: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.38), 0 4px 12px rgba(0, 0, 0, 0.48), 0 2px 4px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.38), 0 4px 12px rgba(0, 0, 0, 0.48), 0 2px 4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.38), 0 4px 12px rgba(0, 0, 0, 0.48), 0 2px 4px rgba(0, 0, 0, 0.38);
}

.posts .post-feature-image,
.prototype-list__thumbnail,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=search],
input[type=phone],
textarea {
  background: var(--bg-2);
}

.post blockquote,
.highlight {
  background: var(--bg-1);
}

.post blockquote,
.post blockquote strong {
  color: var(--fg-1);
}

.post blockquote:before,
.post blockquote:after {
  background: var(--border-2);
}

.postNav,
.footer .container,
table,
th,
td,
tr,
.prototype-list__item,
.prototype-list__item:last-child,
.prototype-list__thumbnail {
  border-color: var(--border-1);
}

th,
tr:nth-child(2n) {
  background-color: var(--bg-1);
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=search],
input[type=phone],
textarea {
  color: var(--fg-1);
  border: 1px solid var(--border-1);
}

.header {
  background-color: var(--bg-max);
}

.header .top-nav .top-nav__item .top-nav__link,
.header .top-nav .top-nav__item .top-nav__link:hover,
.header .top-nav .top-nav__item .top-nav__link.is-current {
  color: #fff;
}

.header .top-nav .top-nav__item .top-nav__link:hover,
.header .top-nav .top-nav__item .top-nav__link:focus-visible {
  background: var(--header-nav-hover-bg);
}

.header .top-nav .top-nav__item .top-nav__link.is-current {
  background: var(--header-nav-selected-bg);
}

.mobile-nav-toggle {
  background: var(--bg-2);
  color: var(--fg-1);
}

.mobile-nav-toggle:hover {
  background: var(--bg-3);
}
