/* Accessibility */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Typography */
body,
.nav-collapse,
.button,
.button-secondary,
.button-tertiary,
.button__outline,
.pageTitle-helper,
.posts li .date,
.post .meta,
.postNav .next,
.postNav .prev {
  font-family: "Google Sans Flex", "Open Sans", Helvetica, Arial, sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Caslon Display", PT Serif, Georgia, Times, serif;
}
